div.content {
    margin-left: 250px;
    padding: 1px 16px;
    /* height: 100%; */
  }
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid #073C7E;
    /* color: gray; */
    background-color: white;
    padding: 8px 10px;
    border-radius: 8px;
    /* font-size: 20px; */
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  @media screen and (max-width: 768px) {
    div.content {
    margin-left: 0px;
    padding: 1px 16px;
    /* height: 1000px; */
  }
}  

#hlo{
  background-image: url('../../../assets/img/aaabstract.png');
}

