<div class="px-4">

    <div class="row mt-2">
        <div class="col-12">
            <div class="row d-flex">
                
                <div class="col-12 col-md-4">
                    <div class="p-3 rounded shadow-sm" id="blue" style="height: 100%;">
                        <div class="fs-3"> <a routerLink="/home/candidatelist"><i class="fa-solid fa-arrow-left"
                            id="darkbluetext"></i></a> </div>
                            <div class="text-center" style="margin-top: 70px;">
                                <div class="p-3">
                                
                                    <img class="{{d}}" src="{{imageUrl}}" style="width: 200px; height: 200px;" alt="'">
            
                                <ng-container *ngIf="expression; getEmployeeData">

                                    <img src="/assets\img\default.jpeg" style="width: 200px; height: 200px;"
                                        alt="default img">
                                </ng-container>

                                <!-- <ng-template #elseBlock>
                                   
                                    <img src={{imageUrl}} style="width: 200px; height: 200px;" alt=""> -->

                                <!-- </ng-template>  -->

                            

                                <h5 class="fw-bolder mt-4" style="color: #073C7E;">{{getEmployeeData.firstname}}</h5>
                                <p>{{getEmployeeData.role}}</p>                           

                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-12 col-md-8">
                    <div class="p-3 rounded shadow-sm">
                        <div class="row d-flex justify-content-between">
                            <div class="col align-self-center">
                                <span class="fs-6 fw-bolder">Basic Information</span>
                            </div>
                            <div class="col text-end">
                                <span><a class="btn text-white" routerLink="/home/candidate/editprofile"
                                        style="background-color: #073C7E;">Edit Profile</a></span>
                            </div>
                        </div>
                        <div class="row d-flex p-3 mt-3">
                            <div class="col-12 col-md-4">
                                <div class="fs-6 fw-bolder">
                                    Mail Address <br> <span style="font-size: 18px;color: #073C7E;" class="fw-normal"><i
                                            class="fa-solid fa-briefcase me-2"></i>{{getEmployeeData.email}}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="fs-6 fw-bolder">
                                    City <br> <span style="font-size: 18px;color: #073C7E;" class="fw-normal"><i
                                            class="fa-solid fa-location-dot me-2"></i>{{getEmployeeData.city}}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="fs-6 fw-bolder">
                                    Date Of Birth <br> <span style="font-size: 18px;color: #073C7E;"
                                        class="fw-normal"><i
                                            class="fa-solid fa-calendar-days me-2"></i>{{getEmployeeData.dob}}</span>
                                </div>
                            </div>

                        </div>
                        <div class="row d-flex p-3 ">
                            <div class="col-12 col-md-4">
                                <div class="fs-6 fw-bolder">
                                    Contact No <br> <span style="font-size: 18px;color: #073C7E;" class="fw-normal"><i
                                            class="fa-solid fa-phone me-2"></i>{{getEmployeeData.phone}}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="fs-6 fw-bolder">
                                    Gender <br> <span style="font-size: 18px;color: #073C7E;" class="fw-normal"><i
                                            class="fa-solid fa-person-digging me-2"></i>{{gender}}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="fs-6 fw-bolder">
                                    Industrial Preference <br> <span style="font-size: 18px;color: #073C7E;"
                                        class="fw-normal"><i
                                            class="fa-solid fa-car me-2"></i>{{getEmployeeData.industryname}}</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="p-3 rounded shadow-sm mt-3">

                        <div class="row d-flex justify-content-between">
                            <div class="col">
                                <span class="fs-6 fw-bolder">Education<span class="text-danger">*</span></span>
                            </div>
                            <!-- <div class="col text-end">
                                <span><a class="btn" data-bs-toggle="modal" data-bs-target="#education">Add</a></span>
                            </div> -->
                        </div>
                        <div class="row d-flex justify-content-between">
                            <div class="col">
                                <div>
                                    <span class="fs-5 fw-bolder" id="darkbluetext">{{education.institute}} <span
                                            class="fs-6 fw-normal">({{education.from}} <span class="fw-bolder" id="darkbluetext">TO</span> {{education.to}})</span> </span> <br>
                                    <p>{{education.degree}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-3 rounded shadow-sm mt-3">
                        <div class="row d-flex justify-content-between">
                            <div class="col">
                                <span class="fs-6 fw-bolder">Experience<span class="text-danger">*</span></span>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-between">
                            <div class="col">
                                <div>
                                    <span class="fs-5 fw-bolder" id="darkbluetext">{{experience.company}} <span
                                            class="fs-6 fw-normal">({{experience.from}} <span class="fw-bolder" id="darkbluetext">TO</span> {{experience.to}})</span> </span> <br>
                                    <p>{{experience.job}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


