<div class="p-2 p-md-5">
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-12 col-md-3 p-3 p-md-0">
      <h2 class="fw-bolder" style="color: #003F7F;">Employee</h2>
    </div>
    <div class="col-12 col-md-3 p-3 rounded-3 shadow-sm text-md-center" id="blue">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-12 col-md-6">
          <input class="w-100 p-1" type="text" [(ngModel)]="searchText" placeholder="Search Employee..." (keyup)="filterData()" />
        </div>
        <div class="col-12 col-md-6">
          <a routerLink="/home/add" class="btn w-100 w-md-50 text-white align-self-center mt-3 mt-md-0" id="darkblue"><i
            class="fa-solid fa-circle-plus me-2"></i>Add Employee</a>
        </div>
      </div>
     
    
    </div>
 
  </div>
      <div style="overflow-x:auto;">
        <table id="example" class="table table-borderless mt-3" *ngIf="dataLoaded">
        <thead>
          <tr class="text-white" style="background-color: #003F7F;">
            <th>ID</th>
            <th>Name</th>
            <th>Industry</th>
            <th>Location</th>
            <th>Phone</th>
            <th>Plan</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="viewEmployee(person)"  *ngFor="let person of filteredData | paginate: { itemsPerPage: count, currentPage: p }" id="blue">
            <td>{{person.id}}</td>
            <td class="fw-bolder">{{person.firstname}}</td>
            <td>{{person.industry}}</td>
            <td>{{person.city}}</td>
            <td>{{person.phone}}</td>
            <td>{{person.plan}}</td>
          </tr>
        </tbody>
      </table>
      </div>
    
      <div class="text-center text-md-end">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      
</div>

