<div class="content">
    <div class="container">
        <div class="p-5" id="blue">
            <div class="text-end">
                <a class="btn fs-3" routerLink="/home/companiesnav/companyprofileinfo"><i class="fa-solid fa-xmark text-danger"></i></a>
            </div>
            <h3 class="fw-bolder">Edit Employer Profile.</h3>
            <h6>Edit company profile page info</h6>
            <div class="py-5">
                <form class="row g-3 needs-validation">
                    <div class="col-12 col-md-12">
                        <div class="form-floating mb-3">
                            <input type="text" formControlName="fullName" class="form-control " id="floatingInput"
                                placeholder="fullName" autocomplete="off">
                            <label for="floatingInput">Company Name <span style="color: red;">*</span></label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-floating mb-3">
                            <input type="email" formControlName="email" class="form-control " id="floatingInput"
                                placeholder="example@gmail.com" autocomplete="off">
                            <label for="floatingInput">Email <span style="color: red;">*</span></label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-floating">
                            <input type="phone" formControlName="email" class="form-control " id="floatingInput"
                                placeholder="+91 01234567890" autocomplete="off">
                            <label for="floatingInput">Website <span style="color: red;">*</span></label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-floating">
                            <input type="phone" formControlName="email" class="form-control " id="floatingInput"
                                placeholder="+91 01234567890" autocomplete="off">
                            <label for="floatingInput">Phone <span style="color: red;">*</span></label>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 mb-4">
                        <div class="form-floating">
                            <textarea class="form-control " placeholder="Leave a comment here" id="floatingTextarea"
                                style="height: 150px;"></textarea>
                            <label for="floatingTextarea">Who Are We</label>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-floating mb-3">
                            <select class="form-select " formControlName="category" id="floatingSelect"
                                aria-label="Floating label select example">
                                <option selected hidden>Select option</option>
                                <option>option1</option>
                                <option>option2</option>
                            </select>
                            <label for="floatingSelect">Industry<span style="color: red;">*</span></label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-floating mb-3">
                            <select class="form-select " formControlName="category" id="floatingSelect"
                                aria-label="Floating label select example">
                                <option selected hidden>Select option</option>
                                <option>option1</option>
                                <option>option2</option>
                            </select>
                            <label for="floatingSelect">Founded IN<span style="color: red;">*</span></label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-floating mb-3">
                            <select class="form-select " formControlName="category" id="floatingSelect"
                                aria-label="Floating label select example">
                                <option selected hidden>Select option</option>
                                <option>option1</option>
                                <option>option2</option>
                            </select>
                            <label for="floatingSelect">Company Size<span style="color: red;">*</span></label>
                        </div>
                    </div>

                    <h4 class="mt-4 fw-bolder p-4" id="blue">Company Location</h4>

                    <div class="col-12 col-md-6">
                        <div class="form-floating mb-5">
                            <input type="text" formControlName="fullName" class="form-control " id="floatingInput"
                                placeholder="fullName" autocomplete="off">
                            <label for="floatingInput">Address Line 1 <span style="color: red;">*</span></label>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="form-floating mb-5">
                            <input type="text" formControlName="fullName" class="form-control " id="floatingInput"
                                placeholder="fullName" autocomplete="off">
                            <label for="floatingInput">Address Line 2 <span style="color: red;">*</span></label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-floating mb-3">
                            <select class="form-select " formControlName="category" id="floatingSelect"
                                aria-label="Floating label select example">
                                <option selected hidden>Select option</option>
                                <option>option1</option>
                                <option>option2</option>
                            </select>
                            <label for="floatingSelect">State<span style="color: red;">*</span></label>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-floating mb-3">
                            <select class="form-select " formControlName="category" id="floatingSelect"
                                aria-label="Floating label select example">
                                <option selected hidden>Select option</option>
                                <option>option1</option>
                                <option>option2</option>
                            </select>
                            <label for="floatingSelect">District<span style="color: red;">*</span></label>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-floating mb-5">
                            <select class="form-select " formControlName="category" id="floatingSelect"
                                aria-label="Floating label select example">
                                <option selected hidden>Select option</option>
                                <option>option1</option>
                                <option>option2</option>
                            </select>
                            <label for="floatingSelect">City<span style="color: red;">*</span></label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-floating mb-5">
                            <input type="text" formControlName="fullName" class="form-control " id="floatingInput"
                                placeholder="fullName" autocomplete="off">
                            <label for="floatingInput">LinkdIn<span style="color: red;">*</span></label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-floating mb-5">
                            <input type="text" formControlName="fullName" class="form-control " id="floatingInput"
                                placeholder="fullName" autocomplete="off">
                            <label for="floatingInput">YouTube<span style="color: red;">*</span></label>
                        </div>
                    </div>

                    <div class="col mt-5" style="text-align: center;">
                        <button type="button" class="btn btn-primary btn-md rounded-5"
                            style="width: 25%;">Update</button>
                        <!-- <a class="btn btn-secondary btn-md mx-3 rounded-5" routerLink="/home/companiesnav/companyprofileinfo"
                            style="width: 25%;">Close</a> -->
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>