
    <div >
        <h4 class="fw-bolder p-4" style="color: #003F7F;">Applied Jobs</h4>
        <table class="table p-3" >
            <thead class="text-white" style="background-color: #003F7F;">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Job Title</th>
                    <th scope="col">Job Type</th>
                    <th scope="col">Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><a routerLink="/home/companiesnav/viewjob" style="text-decoration: none;"><i class="fa-solid fa-eye" id="darkbluetext"></i></a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>@fat</td>

                    <td><a routerLink="/home/companiesnav/viewjob" style="text-decoration: none;"><i class="fa-solid fa-eye" id="darkbluetext"></i></a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                    <td><a routerLink="/home/companiesnav/viewjob" style="text-decoration: none;"><i class="fa-solid fa-eye" id="darkbluetext"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>

