
    <div class="row mt-2">
        <div class="col-12">
            <div class="row d-flex" >
                <div class="col-12 col-md-4">
                    <div class="p-3 rounded shadow-sm h-100" id="blue">
                        <div class="fs-3" > <a routerLink="/home/companies  "><i class="fa-solid fa-arrow-left" id="darkbluetext"></i></a> </div>
                        <div class="text-center p-3">
                            <img class="{{d}}" src="{{imageUrl}}" style="width: 200px; height: 200px;" alt="'">
            
                            <ng-container *ngIf="expression; getEmployeeData">

                                <img src="/assets\img\default.jpeg" style="width: 200px; height: 200px;"
                                    alt="default img">
                            </ng-container>
                        </div>
                        <div class="text-center">
                            <h5 class="fw-bolder mt-3" style="color: #073C7E;">{{employerData.firstname}}</h5>
                            <p>{{employerData.role}}</p>

                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="p-3 rounded shadow-sm">
                                <div class="row d-flex justify-content-between">
                                  
                                    <div class="col text-end">
                                        <span><a class="btn text-white" routerLink="/home/companiesnav/editemployer"
                                                style="background-color: #073C7E;">Edit Employer</a></span>
                                    </div>
                                </div>
                                <div class="row d-flex p-3 mt-3">
                                    <div class="col-12 col-md-6">
                                        <h3 class="fw-bolder">Address</h3>
                                        <div class="fs-6 fw-bolder">
                                             <br> <span style="font-size: 18px;color: #073C7E;"
                                                class="fw-normal">{{employerData.address1}} {{employerData.address2}}</span>
                                        </div>
                                    </div>
                                   

                                </div>
                         
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <div class="p-3 rounded shadow-sm">
                                <div class="row d-flex justify-content-between">
                                    <div class="col align-self-center">
                                        <span class="fs-6 fw-bolder">Basic Information</span>
                                    </div>
                                  
                                </div>
                                <div class="row d-flex p-3 mt-3">
                                    <div class="col-12 col-md-6">
                                        <div class="fs-6 fw-bolder">
                                            Phone Number <br> <span style="font-size: 18px;color: #073C7E;"
                                                class="fw-normal"><i
                                                    class="fa-solid fa-phone me-2"></i>{{this.data1}}</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="fs-6 fw-bolder">
                                            Founder <br> <span style="font-size: 18px;color: #073C7E;"
                                                class="fw-normal"><i class="fa-solid fa-pen-nib me-2"></i>{{this.data1}}</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row d-flex p-3 ">
                                    <div class="col-12 col-md-6">
                                        <div class="fs-6 fw-bolder">
                                            city <br> <span style="font-size: 18px;color: #073C7E;"
                                                class="fw-normal"><i
                                                    class="fa-solid fa-location-dot me-2"></i>{{employerData.city}},{{employerData.state}}</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="fs-6 fw-bolder">
                                            Industrial Preference <br> <span style="font-size: 18px;color: #073C7E;"
                                                class="fw-normal"><i
                                                    class="fa-solid fa-industry me-2"></i>{{employerData.industryname}}</span>
                                        </div>
                                    </div>

                                </div>

                                <div class="row d-flex p-3 ">
                                    <div class="col-12 col-md-6">
                                        <div class="fs-6 fw-bolder">
                                            Email ID <br> <span style="font-size: 18px;color: #073C7E;"
                                                class="fw-normal"><i
                                                    class="fa-solid fa-envelope me-2"></i>{{employerData.email}}</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="fs-6 fw-bolder">
                                            Website <br> <span style="font-size: 18px;color: #073C7E;"
                                                class="fw-normal"><i
                                                    class="fa-solid fa-earth-americas me-2"></i>{{employerData.website}}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>




<!-- education Modal -->
<div class="modal fade" id="education" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Education Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3 needs-validation">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" formControlName="education" class="form-control" id="floatingInput"
                                placeholder="education" autocomplete="off">
                            <label for="floatingInput">Education</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" formControlName="degree" class="form-control" id="floatingInput"
                                placeholder="degree" autocomplete="off">
                            <label for="floatingInput">Degree Name</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input type="date" formControlName="degree" class="form-control" id="floatingInput"
                                placeholder="degree" autocomplete="off">
                            <label for="floatingInput">From date</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input type="date" formControlName="degree" class="form-control" id="floatingInput"
                                placeholder="degree" autocomplete="off">
                            <label for="floatingInput">To date</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>


<!-- education Modal -->
<div class="modal fade" id="experience" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3 needs-validation">
                    <div class="col-12 col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" formControlName="education" class="form-control" id="floatingInput"
                                placeholder="education" autocomplete="off">
                            <label for="floatingInput">Job Title</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" formControlName="degree" class="form-control" id="floatingInput"
                                placeholder="degree" autocomplete="off">
                            <label for="floatingInput">City</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" formControlName="degree" class="form-control" id="floatingInput"
                                placeholder="degree" autocomplete="off">
                            <label for="floatingInput">Comapany Name</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input type="date" formControlName="degree" class="form-control" id="floatingInput"
                                placeholder="degree" autocomplete="off">
                            <label for="floatingInput">From date</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input type="date" formControlName="degree" class="form-control" id="floatingInput"
                                placeholder="degree" autocomplete="off">
                            <label for="floatingInput">To date</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>