<!-- The sidebar -->
<div class="sidebar pt-0 pt-md-5">
    <a (click)="dasn()" class={{das}}  routerLink="/home/settings/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="fa-solid fa-user me-2" ></i>My Profile</a>
    <a (click)="comn()" class={{com}}  routerLink="/home/settings/category" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="fa-solid fa-boxes-stacked me-2" ></i>Add Industry</a>
    <a (click)="cann()" class={{can}} routerLink="/home/settings/location" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="fa-solid fa-location-dot me-2" ></i>Location</a>
    <a (click)="setn()" class={{set}} routerLink="/home/settings/addsubscription" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa-solid fa-money-bill-wheat me-2" ></i>Edit Subscription</a>
    <a (click)="pho()" class={{num}} routerLink="/home/settings/phone" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa-solid fa-phone me-2" ></i>Phone Number</a>
    <button class="btn bg-transparent border-0 w-100 text-start" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-right-from-bracket me-2"></i>Logout</button>
  
       
        <!-- main content goes here -->
   
  </div>
  <div class="toggle">
    <button class="btn rounded-0 fs-3 newtoggle" (click)="toggleSidebar()"><i class="fa-solid fa-bars"></i></button>
  </div>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="fw-bolder">Are you sure want to logout?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="removeToken()" >Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>
 

 
