<!-- The sidebar -->
<div class="sidebar" id="side">
    <a class = {{jjj}} routerLink="/home/candidate/profileinfo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa-solid fa-user me-2" style="color: #073C7E;"></i>Profile Info</a>
    <a (click)="vada()" routerLink="/home/candidate/subscription" routerLinkActive="active"><i class="fa-solid fa-money-bill-wheat me-2" style="color: #073C7E;"></i>Subscription</a>
    <a routerLink="/home/candidate/appliedjobs" routerLinkActive="active"><i class="fa-solid fa-file-circle-plus me-2" style="color: #073C7E;"></i>Applied Jobs</a>
    <button class="btn bg-transparent border-0 w-100 text-start"  style="color: red;" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash me-2"></i>Delete User</button>
  </div>
  <app-delete></app-delete>
  <router-outlet></router-outlet>
  <!-- Page content -->
 
  