<div class="content">
    <div class="row mt-3">
        <div class="col-12">
            <div class="row d-flex">
                <div class="col-12 col-md-4">
                    <div class="p-3">

                        <div>
                            <form class="row g-3 needs-validation">
                                <div class="p-3 rounded-3" id="blue">
                                    <h4 class="fw-bolder">
                                        Add Emplyment Type
                                    </h4>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-1">
                                        <input type="text" formControlName="city" class="form-control" id="floatingInput"
                                            placeholder="city Name" autocomplete="off">
                                        <label for="floatingInput">City Name</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-1">
                                        <select class="form-select" formControlName="category" id="floatingSelect"
                                            aria-label="Floating label select example">
                                            <option selected hidden>Active</option>
                                            <option>Inactive</option>
                                        </select>
                                        <label for="floatingSelect">Status</label>
                                    </div>
                                </div>
                                <div class="text-end">
                                    <button class="btn text-white w-100" id="darkblue">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="p-3 rounded-3 mt-3" id="blue">
                        <h4 class="fw-bolder">
                            Employment Type
                        </h4>
                    </div>
                    <div class="p-3 mt-4 rounded-3" id="blue">
                        <div class="bg-white p-3 rounded-3">
                            <table id="example" class="table bg-white table-borderless">
                            <thead>
                              <tr class="text-white" style="background-color: #003F7F;">
                                <th>S No</th>
                                <th>Career Level Name</th>
                                <th>Status</th>
                                <th>Actions</th>
                            
                              </tr>
                            </thead>
                            <tbody>
                              <tr id="blue">
                                <td>1</td>
                                <td class="fw-bolder">Chennai</td>
                                <td>Active</td>
                                <td><a href="" class="btn"><i class="fa-solid fa-pen-to-square text-success me-2"></i></a>
                                    <a href="" class="btn"><i class="fa-solid fa-trash text-danger me-2"></i></a></td>
                              </tr>
                              <tr id="blue">
                                <td>1</td>
                                <td class="fw-bolder">Chennai</td>
                                <td>Active</td>
                                <td><a href="" class="btn"><i class="fa-solid fa-pen-to-square text-success me-2"></i></a>
                                    <a href="" class="btn"><i class="fa-solid fa-trash text-danger me-2"></i></a></td>
                              </tr>
                              <tr id="blue">
                                <td>1</td>
                                <td class="fw-bolder">Chennai</td>
                                <td>Active</td>
                                <td><a href="" class="btn"><i class="fa-solid fa-pen-to-square text-success me-2"></i></a>
                                    <a href="" class="btn"><i class="fa-solid fa-trash text-danger me-2"></i></a></td>
                              </tr>
                            </tbody>
                          </table>  
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>