<!-- <div style="display: flex; justify-content: center; align-items: center; height: 100vh;"> -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top shadow-sm" id="mainNav" style="background-color: white;">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink=""><img src="/assets\img\logo.png" width="75px" alt=""></a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="bi-list"></i>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
        <!-- <li class="nav-item"><a class="nav-link me-lg-3" href="#features">Features</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link me-lg-3 btn text-white" id="darkblue" href="#download">Download</a></li> -->
      </ul>
      <!-- <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                <span class="d-flex align-items-center">
                    <i class="bi-chat-text-fill me-2"></i>
                    <span class="small">Send Feedback</span>
                </span>
            </button> -->
    </div>
  </div>
</nav>
<div class="container-fluid d-flex justify-content-center align-items-center align-self-center" id="bg">
  <div class="container ">
    <div class="row d-flex">
      <div class="col-12 col-md-6" id="leo" style="align-self: center;">
        <div class="p-md-5">
          <div class=" rounded-3">
            <h2 class="mb-3">Welcome To <span class="fw-bolder" id="darkbluetext">Myjobz</span> </h2>
            <!-- <p class="text-center">Login via Phone Number and OTP</p> -->
            <div>

              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="col-12 mb-3" *ngIf="hidebutton">
                  <div class="form-floating">
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                      maxlength="10" type="phone" formControlName="phoneNumber" class="form-control" id="floatingInput"
                      placeholder="h" autocomplete="off">
                    <label for="floatingInput">Phone Number: <span style="color: red;">*</span></label>
                  </div>
                  <button class="btn text-white mt-3" id="darkblue" type="submit">Send OTP</button>
                </div>
                <div>
                </div>


                <div class="col-12 mb-3">
                  <div *ngIf="showOTPForm">
                    <div class="d-flex mb-3" style="align-items: center;">
                      <span class="me-3" id="darkbluetext">OTP sent to {{ form.value.phoneNumber }} </span><a href="#"
                        class="fs-3" (click)="back()" id="darkbluetext"><i class="fa-solid fa-arrow-left"></i></a>
                    </div>
                    <div class="mb-3">
                      <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)"
                        [config]="{length:4,inputClass:'dot',allowNumbersOnly:true}"></ng-otp-input>
                    </div>
                    <button class="btn text-white me-3" id="darkblue" type="submit" (click)="onVerifyOTP()">Verify
                      OTP</button>
                    <!-- <span *ngIf="otp" class="o-t-p">Entered otp :-{{otp}}</span> -->

                    <button class="btn text-white" type="submit">Resend OTP</button>


                  </div>

                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 align-self-center text-center d-none d-sm-block">

        <img src="/assets\img\Round.gif" alt="" id="spin" width="80%">

      </div>
    </div>
  </div>
</div>


<footer class="text-center p-3" id="darkblue">
  <div class="container">
    <div class="text-white small">
      <div class="mb-2">&copy; Innovix 2023. All Rights Reserved.</div>

    </div>
  </div>
</footer>