

#image-container {
  text-align: center;
}

#image-container img {
  display: inline-block;
  margin: 0 auto;
}

.bg-gradient-primary-to-secondary {
  background: linear-gradient(45deg, #055bc4, #073C7E) !important;
}

#bg {

  overflow: hidden;
  padding: 25px;
  background: url('../../../assets/img/dddd.gif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 87.4vh;

}