
  
  .file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 80%;
    cursor: pointer;
    opacity: 0;
  }
  .fake-btn {
    background-color: white;
    border: 1px solid #9E9EC4;
    border-radius: 30px;
    padding: 8px 15px;
    font-size: 12px;
    text-transform: uppercase;
  }
  .file-input:focus {
    outline: none;
  }