
  
  div p{
    margin-top: 10px;
    margin-bottom: 10px;
}  

@media screen and (max-width: 768px) {
    div.content {
    margin-left: 0px;
    padding: 1px 16px;
    /* height: 1000px; */
  }
}
 
#leo{
  margin-top: 30px;
}
