
    <div class="p-4" id="blue">
        <h2 id="darkbluetext" class="fw-bolder">Subscription Plan</h2>
        <div class="py-5">
            <form class="row g-3 needs-validation">
                <div class="col-12 col-md-3">
                    <div class="form-floating mb-1">
                        <select class="form-select" formControlName="category" id="floatingSelect"
                            aria-label="Floating label select example">
                            <option selected hidden>Please Select Status</option>
                            <option>BASIC</option>
                            <option>STANDARD</option>
                            <option>PREMIUM</option>
                           
                        </select>
                        <label for="floatingSelect">Subscription Type</label>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="fullName" class="form-control " id="floatingInput"
                            placeholder="25" autocomplete="off">
                        <label for="floatingInput">Subscription Fee<span style="color: red;">*</span></label>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-floating mb-2">
                        <input type="date" formControlName="fullName" class="form-control " id="floatingInput"
                            placeholder="fullName" autocomplete="off">
                        <label for="floatingInput">From<span style="color: red;">*</span></label>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-floating mb-2">
                        <input type="date" formControlName="fullName" class="form-control " id="floatingInput"
                            placeholder="fullName" autocomplete="off">
                        <label for="floatingInput">To<span style="color: red;">*</span></label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="fullName" class="form-control " id="floatingInput"
                            placeholder="25" autocomplete="off">
                        <label for="floatingInput">No. of Job Applied<span style="color: red;">*</span></label>
                    </div>
                </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <textarea class="form-control " placeholder="Leave a comment here" id="floatingTextarea" style="height: 140px;"></textarea>
                            <label for="floatingTextarea">Discription</label>
                          </div>
                    </div>

                    <div class="col mt-5" style=" text-align: center;">
                        <a class="btn btn-primary btn-md mx-3 rounded-5"  routerLink="/home/candidate/subscription"
                            style="width: 25%;">Update</a>
                    </div>
                
            </form>
        </div>
    </div>

    <div class="container pt-5">
        <div style="padding: 80px;border-radius: 40px;background-color: #E6F0F9;">
            <h2 class="card-title fw-bolder" style="color: #003F7F;text-align: center;">Available Subscription</h2>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card pt-5 pb-5 p-3 border-0 shadow rounded-5" id="leo"
                        style="align-items: center;color: #003F7F;">
                        <h3 class="card-title fw-bolder">BASIC</h3>
                        <P class="card-subtitle fs-2" style="font-weight: bolder;">Rs.200</P>
                        <p class="card-text">Apply 10 jobs</p>
                        <h5 class="fw-bolder mt-2 mb-3">30 days validity</h5>
                        <ul style="line-height: 44px;">
                            <li>All benefits of personal</li>
                            <li>Various versions</li>
                            <li>Unlimited storage</li>
                        </ul>
                        <!-- <button class="btn btn-lg text-white mt-2"
                            style="background-color: #003F7F;">Choose</button> -->
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card pt-5 pb-5 p-3  border-0 shadow  rounded-5" id="leo"
                        style="align-items: center;color: #003F7F;">
                        <h3 class="card-title fw-bolder">STANDARD</h3>
                        <P class="card-subtitle fs-1" style="font-weight: bolder;">Rs.500</P>
                        <p class="card-text mt-2">Apply 20 jobs</p>
                        <h5 class="mt-2 fw-bolder">6 months validity</h5>
                        <ul style="line-height: 44px;">
                            <li>All benefits of personal</li>
                            <li>Various versions</li>
                            <li>Unlimited storage</li>
                        </ul>
                        <!-- <button class="btn btn-lg text-white mt-2" style="background-color: #003F7F;">Choose</button> -->
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card pt-5 pb-5 p-3  border-0 shadow rounded-5" id="leo"
                        style="align-items: center;color: #003F7F;">
                        <h3 class="card-title fw-bolder">PREMIUM</h3>
                        <P class="card-subtitle fs-1" style="font-weight: bolder;">Rs.1000</P>
                        <p class="card-text mt-2">Apply 50 jobs</p>
                        <h5 class="mt-2 fw-bolder">1 year validity</h5>
                        <ul style="line-height:36px;">
                            <li>All benefits of team</li>
                            <li>Sentance structure</li>
                            <li>Lifetime access to all<br>
                                the content</li>
                        </ul>
                        <!-- <button class="btn btn-lg text-white" style="background-color: #003F7F;">Choose</button> -->
                    </div>
                </div>

            </div>
        </div>

    </div>
