
<div class="px-2">
    <div class="p-5" id="blue">
        <div class="text-end">
            <a class="btn fs-3" routerLink="/home/candidate/profileinfo"><i class="fa-solid fa-xmark text-danger"></i></a>
        </div>
        <h3 class="fw-bolder">Edit Employee Details</h3>
        <!-- <h6>Add Candidate profile page info</h6> -->
        <div class="py-3">
            <form class="row g-3 needs-validation" [formGroup]="editEmployee" (ngSubmit)="onSubmit()">
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="firstname" class="form-control" id="floatingInput"
                            placeholder="firstname" autocomplete="off">
                        <label for="floatingInput">Full Name</label>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="email" class="form-control" id="floatingInput"
                            placeholder="example@gmail.com" autocomplete="off">
                        <label for="floatingInput">Email Address</label>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-floating">
                        <input type="phone" formControlName="phone" class="form-control" id="floatingInput"
                            placeholder="+91 01234567890" autocomplete="off">
                        <label for="floatingInput">Contact Number</label>
                    </div>
                </div>

                <!-- checkbox -->

                <div class="col-12 col-md-6">
                    <div class="form-floating mb-3">
                        <select class="form-select" formControlName="industryname" id="floatingSelect"
                            aria-label="Floating label select example">
                            <option *ngFor="let industry of industries">{{industry.name}}</option>
                        </select>
                        <label for="floatingSelect">Industrial Preference <span style="color: red;">*</span></label>
                    </div>
                </div>
               
                <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="date" formControlName="dob" class="form-control" id="floatingInput"
                            placeholder="00/00/00" autocomplete="off">
                        <label for="floatingInput">Dob</label>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="city" class="form-control" id="floatingInput"
                            placeholder="city" autocomplete="off">
                        <label for="floatingInput">City</label>
                    </div>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-md rounded-5" style="width: 25%;">Update</button>
               
                </div>

            </form>
        </div>
    </div>
</div>


