<div class="content">
    <div class="p-5" id="blue">
        <div class="text-end">
            <a class="btn fs-3" routerLink="/home/companiesnav/viewjob"><i class="fa-solid fa-xmark text-danger"></i></a>
        </div>
        <h3 class="fw-bolder">Add Employer Profile.</h3>
        <h6>Add company profile page info</h6>
        <div class="py-3">
            <form class="row g-3 needs-validation">
                <div class="col-12 col-md-4">
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="fullName" class="form-control " id="floatingInput"
                            placeholder="fullName" autocomplete="off">
                        <label for="floatingInput">Job Title<span style="color: red;">*</span></label>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="email" class="form-control " id="floatingInput"
                            placeholder="example@gmail.com" autocomplete="off">
                        <label for="floatingInput">No.of Vacancye <span style="color: red;">*</span></label>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="form-floating mb-3">
                        <select class="form-select " formControlName="category" id="floatingSelect"
                            aria-label="Floating label select example">
                            <option selected hidden>Select option</option>
                            <option>option1</option>
                            <option>option2</option>
                        </select>
                        <label for="floatingSelect">Category<span style="color: red;">*</span></label>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="form-floating mb-3">
                        <select class="form-select " formControlName="category" id="floatingSelect"
                            aria-label="Floating label select example">
                            <option selected hidden>Select option</option>
                            <option>option1</option>
                            <option>option2</option>
                        </select>
                        <label for="floatingSelect">State<span style="color: red;">*</span></label>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="form-floating mb-3">
                        <select class="form-select " formControlName="category" id="floatingSelect"
                            aria-label="Floating label select example">
                            <option selected hidden>Select option</option>
                            <option>option1</option>
                            <option>option2</option>
                        </select>
                        <label for="floatingSelect">District<span style="color: red;">*</span></label>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="form-floating mb-3">
                        <select class="form-select " formControlName="category" id="floatingSelect"
                            aria-label="Floating label select example">
                            <option selected hidden>Select option</option>
                            <option>option1</option>
                            <option>option2</option>
                        </select>
                        <label for="floatingSelect">City<span style="color: red;">*</span></label>
                    </div>
                </div>


                <div class="col-12 col-md-6">
                    <div class="col-12 col-md-6 mb-2">
                        <label class="p-1">Gender <span style="color: red;">*</span></label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value="option1">
                            <label class="form-check-label" for="inlineRadio1">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                value="option2">
                            <label class="form-check-label" for="inlineRadio2">Female</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                value="option3">
                            <label class="form-check-label" for="inlineRadio3">Others </label>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-floating mb-2">
                        <input type="date" formControlName="fullName" class="form-control " id="floatingInput"
                            placeholder="fullName" autocomplete="off">
                        <label for="floatingInput">Set expired Date<span style="color: red;">*</span></label>
                    </div>
                </div>


                <div class="col-12 col-md-6">
                    <div class="form-floating">
                        <textarea class="form-control " placeholder="Leave a comment here" id="floatingTextarea"
                            style="height: 150px;"></textarea>
                        <label for="floatingTextarea">Who Are We</label>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-floating">
                        <textarea class="form-control " placeholder="Leave a comment here" id="floatingTextarea"
                            style="height: 150px;"></textarea>
                        <label for="floatingTextarea">Who Are We</label>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-floating mb-5">
                        <input type="text" formControlName="fullName" class="form-control " id="floatingInput"
                            placeholder="fullName" autocomplete="off">
                        <label for="floatingInput">Skills<span style="color: red;">*</span></label>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="form-floating mb-3">
                        <select class="form-select " formControlName="category" id="floatingSelect"
                            aria-label="Floating label select example">
                            <option selected hidden>Select option</option>
                            <option>option1</option>
                            <option>option2</option>
                        </select>
                        <label for="floatingSelect">Education<span style="color: red;">*</span></label>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="form-floating mb-5">
                        <select class="form-select " formControlName="category" id="floatingSelect"
                            aria-label="Floating label select example">
                            <option selected hidden>Select option</option>
                            <option>option1</option>
                            <option>option2</option>
                        </select>
                        <label for="floatingSelect">Experience<span style="color: red;">*</span></label>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-floating mb-5">
                        <select class="form-select " formControlName="category" id="floatingSelect"
                            aria-label="Floating label select example">
                            <option selected hidden>Select option</option>
                            <option>option1</option>
                            <option>option2</option>
                        </select>
                        <label for="floatingSelect">Career Level<span style="color: red;">*</span></label>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-floating mb-5">
                        <select class="form-select " formControlName="category" id="floatingSelect"
                            aria-label="Floating label select example">
                            <option selected hidden>Select option</option>
                            <option>option1</option>
                            <option>option2</option>
                        </select>
                        <label for="floatingSelect">Employment Type<span style="color: red;">*</span></label>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="form-floating mb-5">
                        <select class="form-select " formControlName="category" id="floatingSelect"
                            aria-label="Floating label select example">
                            <option selected hidden>Select option</option>
                            <option>option1</option>
                            <option>option2</option>
                        </select>
                        <label for="floatingSelect">Salary Range / Annum<span style="color: red;">*</span></label>
                    </div>
                </div>
                <div class="col mt-5" style="text-align: center;">
                    <button type="button" class="btn btn-primary btn-md rounded-5" style="width: 25%;">Update</button>
                    <!-- <a class="btn btn-secondary btn-md mx-3 rounded-5" routerLink="/home/companiesnav/viewjob"
                        style="width: 25%;">Cancel</a> -->
                </div>


            </form>
        </div>
    </div>
</div>