<!-- The sidebar -->
<div class="sidebar pt-0 pt-md-5">
    <a (click)="dasn()" class={{das}} routerLink="/home/companiesnav/companyprofileinfo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa-solid fa-user me-2"></i>Employer Info</a>
    <a (click)="comn()" class={{com}} routerLink="/home/companiesnav/companydocument" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa-solid fa-money-bill-wheat me-2"></i>Document</a>
    <a (click)="cann()" class={{can}} routerLink="/home/companiesnav/plan" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa-solid fa-file-circle-plus me-2"></i>Subscription</a>   
    <a (click)="setn()" class={{set}} routerLink="/home/companiesnav/companyjobs" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa-solid fa-file-circle-plus me-2"></i>Posted Jobs</a>
    <a href="#"  style="color: red;" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash me-2"></i>Delete</a>
  </div>
  <div class="toggle">
    <button class="btn rounded-0 fs-3 newtoggle" (click)="toggleSidebar()"><i class="fa-solid fa-bars"></i></button>
  </div>
  <app-delete></app-delete>
  <div class="content">
    <router-outlet></router-outlet>
</div>
 
 
  