<div class="p-2 p-md-5">
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-12 col-md-3 p-3 p-md-0">
      <h2 class="fw-bolder" style="color: #003F7F;">Employer</h2>
    </div>
    <div class="col-12 col-md-3 p-3 rounded-3 shadow-sm text-md-center" id="blue">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-12 col-md-6">
          <input class="w-100 p-1" type="text" [(ngModel)]="searchText" placeholder="Search Company..." (keyup)="filterData()" />
        </div>
        <div class="col-12 col-md-6">
          <a routerLink="/home/addemployer" class="btn w-100 w-md-50 text-white align-self-center mt-3 mt-md-0" id="darkblue"><i
            class="fa-solid fa-circle-plus me-2"></i>Add Employer</a>
        </div>
      </div>
     
    
    </div>
 
  </div>
  

  <div style="overflow-x:auto;">
     <table id="example" class="table table-borderless mt-3" *ngIf="dataLoaded">
    <!-- <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"> -->

    <thead>
      <tr class="text-white" style="background-color: #003F7F;">
        <th>ID</th>
        <th>Company Name</th>
        <th>City</th>
        <th>Phone Number</th>
        <th>Company Size</th>
        <th>Established Date</th>
      </tr>
    </thead>
    <!-- routerLink="/home/companiesnav/companyprofileinfo" -->
    <tbody >
      <tr   (click)="viewEmployer(person)"  id="blue" *ngFor="let person of filteredData | paginate: { itemsPerPage: count, currentPage: p }">
        <td>{{person.id}}</td>
        <td class="fw-bolder">{{person.firstname}}</td>
        <td>{{person.city}},{{person.state}}</td>
        <td>{{person.companyphone}}</td>
        <td>{{person.companysize}}</td>
        <td>{{person.establisheddate}}</td>
      </tr>
    </tbody>
  </table>

  </div>
 
  <div class="text-center text-md-end">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

