<div class="px-3">
    <div >
        <h4 class="fw-bolder p-4" style="color: #003F7F;">Applied Jobs</h4>
        <table class="table table-borderless p-3" >
            <thead class="text-white" style="background-color: #003F7F;">
                <tr>
                    <th scope="col">#</th>
                    <!-- <th scope="col">Company Name</th> -->
                    <th scope="col">Job Title</th>
                    <!-- <th scope="col">Job Type</th> -->
                    <th scope="col">Applied Date</th>
                    <th scope="col">Job Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let job of Applied; let i = index" id="blue">
                    <th scope="row">{{i+1}}</th>
                    <!-- <td>{{job.companyid}}</td> -->
                    <td>{{job.title}}</td>
                    <!-- <td>{{job.category}}</td> -->
                    <td>{{job.jobapplied | date}}</td>
                    <td>{{job.jobstatus}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>